/node_modules
/vendor
/vendor/**
/.composer-cache
/public/hot
/public/storage/framework/sessions/*

/storage/*.key
/storage/pail
/storage/logs/*
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/debugbar/*

/bootstrap/cache/*
!bootstrap/cache/.gitignore

.phpunit.result.cache
.phpunit.cache
.phpunit.cache/

.env
.env.*
!.env.example

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

/.idea
/.DS_Store
Thumbs.db

/.vscode/*
!/.vscode/extensions.json
/.svn
storage/logs/*.log
