// -------------------------variables----------------------- //

// colors

// shades
$darken05: rgba(0,0,0,0.05);
$darken1: rgba(0,0,0,0.1);
$darken2: rgba(0,0,0,0.2);
$darken3: rgba(0,0,0,0.3);
$darken4: rgba(0,0,0,0.4);
$darken5: rgba(0,0,0,0.5);
$darken6: rgba(0,0,0,0.6);
$darken7: rgba(0,0,0,0.7);
$darken8: rgba(0,0,0,0.8);
$darken9: rgba(0,0,0,0.9);
$darken10: rgba(0,0,0,1);

// tints
$lighter3: rgba(255,255,255,0.3);
$lighter4: rgba(255,255,255,0.4);
$lighter7: rgba(255,255,255,0.7);
$lighter8: rgba(255,255,255,0.8);

$transparent: rgba(0,0,0,0);

// new colors:
$color-new-light-bg: #fafafc;
